<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact Blue Ice - Free CSS Templates</title>
<meta name="keywords" content="free css templates, contact, form, message, blue ice, CSS, HTML, templatemo" />
<meta name="description" content="Contact Blue Ice - Free CSS Templates from www.cssmoban.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper"> 

	<div id="templatemo_header">

    	<div id="site_title">
            <h1><a href="#"><img src="images/templatemo_logo.png" alt="logo" /><span>Free CSS Templates</span></a></h1>
        </div> <!-- end of site_title -->
        
        <ul id="social_box">
            <li><a href="#"><img src="images/facebook.png" alt="facebook" /></a></li>
            <li><a href="#"><img src="images/twitter.png" alt="twitter" /></a></li>
            <li><a href="#"><img src="images/linkedin.png" alt="linkin" /></a></li>
            <li><a href="#"><img src="images/technorati.png" alt="technorati" /></a></li>
            <li><a href="#"><img src="images/myspace.png" alt="myspace" /></a></li>                
        </ul>
        
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu">
    	<div class="home"><a href="index.html"></a></div>
        <ul>
            <li><a href="services.html">WHAT WE DO<span>Services</span></a></li>
            <li><a href="news.html">OUR LATEST NEWS<span>News</span></a></li>
            <li><a href="about.html">WHO WE ARE<span>About Us</span></a></li>
            <li><a href="contact.html" class="current last">ANY QUESTION?<span>Contact Us</span></a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_content_wrapper">
    	<div id="templatemo_content_top"></div>
        <div id="templatemo_content">
        
            <h2>Contact Us</h2>

            <p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. Validate <a href="#" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="#" rel="nofollow"><strong>CSS</strong></a>.</p>
            <div class="cleaner_h40"></div>
        
        		<div class="col_w340 float_l">
           		 		<h4> Address One</h4>
                   	  	120-870 Vitae urna blandit est egestas, <br />
                        Pulvinar sit amet convallis eget, 18250<br />
						Lorem ipsum dolor<br />
                		<br />
                     	Tel: 010-040-1120<br />
                        Fax: 010-040-2210
          </div>
                
                <div class="col_w340 float_r">
                		<h4> Address Two</h4>
                        320-960 Faucibus justo commodo,<br />
                        Duis gravida,  Vestibulum 12560<br />
						Pellentesque et fermentum<br />
        				<br />
                        Tel: 020-050-4470<br />
                        Fax: 020-050-7740 
       	  </div>
        
        
            <div class="cleaner_h50"></div>
            
            	<div id="contact_form">
            
                    <h4>Quick Contact</h4>
                    
                    <form method="post" name="contact" action="#">
                        
                        <div class="col_w340 float_l">
                        
                            <label for="author">Name:</label> <input name="author" type="text" class="input_field" id="author" maxlength="40" />
                          	<div class="cleaner_h10"></div>
                            
                            <label for="email">Email:</label> <input name="email" type="text" class="input_field" id="email" maxlength="40" />
                          	<div class="cleaner_h10"></div>
                            
                            <label for="phone">Phone:</label> <input name="phone" type="text" class="input_field" id="phone" maxlength="40" />
                            <div class="cleaner_h10"></div>
                            
                        </div>
                        
                        <div class="col_w340 float_r">
                        
                            <label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                            <div class="cleaner_h10"></div>
                            
                            <input type="submit" class="submit_btn float_l" name="submit" id="submit" value="Send" />
                            <input type="reset" class="submit_btn float_r" name="reset" id="reset" value="Reset" />
                            
                        </div>
                        
                   </form>

            </div> 

            <div class="cleaner"></div>
            
        </div>
        <div id="templatemo_content_bottom"></div>
	</div>
    
    <div id="templatemo_sp_box">
    
    	<div class="col_w340 float_l">
            <img src="images/bar-graph.png" alt="image" />
            <div class="right">
                <h4>Lorem ipsum dolor sit</h4>
                <p>Aliquam sit amet urna quis quam ornare pretium. Cras pellentesque interdum nibh non tristique. Pellentesque et velit non urna auctor porttitor.</p>
                <div class="button"><a href="#"><span>+</span> More</a></div>
			</div>
        </div>
        
        <div class="col_w340 float_r">
        	<img src="images/to-do.png" alt="image" />
            <div class="right">
                <h4>Nunc dignissim accumsan</h4>
                <p>Vestibulum pretium convallis diam sit amet vestibulum. Etiam non est eget leo luctus bibendum. Integer pretium, odio at scelerisque congue.</p>
                <div class="button"><a href="#"><span>+</span> More</a></div>
			</div>
        </div>
    
    </div>
    
    <div id="templatemo_footer">

        Copyright © 2048 <a href="#">Your Company Name</a> - 
        Template from <a href="http://www.cssmoban.com" target="_parent" title="网站模板">网站模板</a>
    
    </div> <!-- end of templatemo_footer -->
    
</div> <!-- end of templatemo_wrapper -->    

</body>
</html>
