<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blue Ice - Free CSS Templates</title>
<meta name="keywords" content="free css templates, blue ice, CSS, HTML, templatemo" />
<meta name="description" content="Blue Ice is one of the Free CSS Templates from www.cssmoban.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper"> 

	<div id="templatemo_header">

    	<div id="site_title">
            <h1><a href="#"><img src="images/templatemo_logo.png" alt="logo" /><span>Free CSS Templates</span></a></h1>
        </div> <!-- end of site_title -->
        
        <ul id="social_box">
            <li><a href="#"><img src="images/facebook.png" alt="facebook" /></a></li>
            <li><a href="#"><img src="images/twitter.png" alt="twitter" /></a></li>
            <li><a href="#"><img src="images/linkedin.png" alt="linkin" /></a></li>
            <li><a href="#"><img src="images/technorati.png" alt="technorati" /></a></li>
            <li><a href="#"><img src="images/myspace.png" alt="myspace" /></a></li>                
        </ul>
        
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu">
    	<div class="home"><a href="index.html"></a></div>
        <ul>
            <li><a href="services.html">WHAT WE DO<span>Services</span></a></li>
            <li><a href="news.html">OUR LATEST NEWS<span>News</span></a></li>
            <li><a href="about.html">WHO WE ARE<span>About Us</span></a></li>
            <li><a href="contact.html" class="last">ANY QUESTION?<span>Contact Us</span></a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_content_wrapper">
    	<div id="templatemo_content_top"></div>
        <div id="templatemo_content">
        
            <h2>Welcome  to Blue Ice</h2>
            
          <div class="image_wrapper image_fl"><a href="#"><img src="images/templatemo_image_01.jpg" alt="image" /></a></div>
            <p><em>Pellentesque elementum enim a augue. Etiam sit amet turpis. Duis nulla diam, posuere ac, varius id, ullamcorper sit amet, libero. Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus. Validate <a href="#" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="#" rel="nofollow"><strong>CSS</strong></a>.</em></p>
          <p align="justify"><a href="#/preview/templatemo_301_blue_ice" target="_parent">Blue Ice Template</a> is  brought to you by <a href="http://www.cssmoban.com" target="_parent" title="模板之家">模板之家</a>. You may download, edit and apply this template for any purpose. Credit goes to <a href="#" target="_blank">Smashing Magazine</a> for icons. Aliquam pretium porta odio. Fusce quis diam sit amet tortor luctus   pellentesque. Donec accumsan urna non elit tristique mattis. Vivamus   fermentum orci viverra nisl. In nec magna id ipsum   aliquam dictum.</p>
          <p align="justify">Donec euismod enim et risus. Nunc dictum, massa non   dignissim commodo, metus quam vehicula lorem, et dignissim enim augue   vitae pede. Donec at arcu. Nunc aliquam, dolor vitae sollicitudin   lacinia, nibh orci sagittis diam, dignissim sodales dui erat nec eros.   Fusce quis enim. Aenean eleifend, neque hendrerit elementum sodales,   odio erat sagittis quam, sed tempor orci magna vitae tellus. Proin dui   mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin   vulputate justo et quam. Cras nisl eros, elementum eu, iaculis vitae,   viverra ut, ligula. Pellentesque metus. Duis dolor. Curabitur sem ante, condimentum non, cursus quis,   eleifend non, libero. Nunc a nulla. Suspendisse vitae orci a ligula   egestas bibendum. Vestibulum ultrices. Pellentesque tempus sapien nec   sem commodo ullamcorper.</p>
          <div class="cleaner_h20"></div>
            
            <ul class="tmo_list col_w340 float_l">
            	<li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>In dolor justo, congue quis tempor sit amet</li>
                <li>Phasellus nulla urna, faucibus vel sagittis interdum</li>
            </ul> 
            <ul class="tmo_list col_w340 float_r">
                <li>Sed fringilla accumsan mi, et gravida mauris</li>
                <li>Morbi mattis, nunc at euismod luctus</li>
                <li>Sraesent vel felis id lectus bibendum</li                
            ></ul>  
        	
        	<div class="cleaner"></div>
            
            <div class="button"><a href="#"><span>+</span> More</a></div>
            
        </div>
        <div id="templatemo_content_bottom"></div>
	</div>
    
    <div id="templatemo_sp_box">
    
    	<div class="col_w340 float_l">
            <img src="images/bar-graph.png" alt="image" />
            <div class="right">
                <h4>Lorem ipsum dolor sit</h4>
                <p>Aliquam sit amet urna quis quam ornare pretium. Cras pellentesque interdum nibh non tristique. Pellentesque et velit non urna auctor porttitor.</p>
                <div class="button"><a href="#"><span>+</span> More</a></div>
			</div>
        </div>
        
        <div class="col_w340 float_r">
        	<img src="images/to-do.png" alt="image" />
            <div class="right">
                <h4>Nunc dignissim accumsan</h4>
                <p>Vestibulum pretium convallis diam sit amet vestibulum. Etiam non est eget leo luctus bibendum. Integer pretium, odio at scelerisque congue.</p>
                <div class="button"><a href="#"><span>+</span> More</a></div>
			</div>
        </div>
    
    </div>
    
    <div id="templatemo_footer">

        Copyright © 2048 <a href="#">Your Company Name</a> - 
        Template from <a href="http://www.cssmoban.com" target="_parent" title="网站模板">网站模板</a>
    
    </div> <!-- end of templatemo_footer -->
    
</div> <!-- end of templatemo_wrapper -->    

</body>
</html>